@tailwind base;
@tailwind components;
@tailwind utilities;


.manage-empolyee{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 63%, rgba(216,211,242,1) 70%, rgba(80,53,246,1) 96%);
}


.menu-item {
    padding: 5px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    color: white;
}

.menu-item:hover {
    color: darkgray; /* Change color on hover */
    transform: scale(1.1); /* Increase size on hover */
}

/* styles.css */

.employee-card {
    width: 320px; /* Initial width */
    height: 160px; /* Initial height */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s; /* Apply transition effect to width, height, and box-shadow */
  }
  
  .employee-card:hover {
    width: 340px; /* Increase width on hover */
    height: 180px; /* Increase height on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover for depth effect */
  }
  


